ms-sentinel/playbooks/revoke-entra-id-user-tokens/playbook-revoke-all-entra-id-sessions.json
{
    "$schema": "https://schema.management.azure.com/schemas/2019-04-01/deploymentTemplate.json#",
    "contentVersion": "1.0.0.0",
    "metadata": {
        "metadata": {
        "title": "playbook-revoke-entraID-sessions-for-account", 
        "description": "Intends to revoke all entra ID sessions for identitied accounts in of the incident.",
        "prerequisites": "1. An App Registration with User.ReadWrite.All permissions granted on Microsoft Graph API. 2. A client secret for the App Registration must be generated. 3. An Azure Key Vault Secret to hold the client secret.",
        "lastUpdateTime": "2024-02-09T00:00:00.000Z",
        "entities": ["Account"], 
        "tags": ["Microsoft Sentinel", "Entity", "Entra ID", "Revoke User Sessions"], 
        "support": {
            "tier": "partner"
        },
        "author": {
            "name": "FBVitor"
        }
        }
    },
    "parameters": {
        "PlaybookName": {
            "defaultValue": "Playbook-Revoke-Azure-AD-User-Session-From-Entity",
            "type": "string"
        },
        "ClientID": {
            "type": "string",
            "metadata" : {
                "description" : "Enter the Application (client) ID of your App Registration"
            }
        },
        "KeyVaultName": {
            "type": "string",
            "metadata" : {
                "description" : "Name of the Key Vault that stores the App Registration client secret"
            }
        },
        "KeyVaultSecretName": {
            "type": "string",
            "metadata": {
                "description": "Name of Key Vault Secret that contains the App Registration client secret"
            }
        }
    },
    "variables": {
        "azuresentinel": "[concat('azuresentinel-', parameters('PlaybookName'))]",
        "keyvault": "[concat('keyvault-', parameters('PlaybookName'))]"
    },
    "resources": [
        {
            "type": "Microsoft.Web/connections",
            "apiVersion": "2016-06-01",
            "name": "[variables('azuresentinel')]",
            "location": "[resourceGroup().location]",
            "kind": "V1",
            "properties": {
                "displayName": "[parameters('PlaybookName')]",
                "customParameterValues": {},
                "parameterValueType": "Alternative",
                "api": {
                    "id": "[concat('/subscriptions/', subscription().subscriptionId, '/providers/Microsoft.Web/locations/', resourceGroup().location, '/managedApis/azuresentinel')]"
                }
            }
        },
        {
            "type": "Microsoft.Web/connections",
            "apiVersion": "2016-06-01",
            "name": "[variables('keyvault')]",
            "location": "[resourceGroup().location]",
            "kind": "V1",
            "properties": {
                "displayName": "[parameters('PlaybookName')]",
                "parameterValueType": "Alternative",
                "alternativeParameterValues": {
                    "vaultName": "[parameters('KeyVaultName')]"
                },
                "customParameterValues": {
                },
                "api": {
                    "id": "[concat('/subscriptions/', subscription().subscriptionId, '/providers/Microsoft.Web/locations/', resourceGroup().location, '/managedApis/keyvault')]"
                }
            }
        },
        {
            "type": "Microsoft.Logic/workflows",
            "apiVersion": "2017-07-01",
            "name": "[parameters('PlaybookName')]",
            "location": "[resourceGroup().location]",
            "tags": {
                "LogicAppsCategory": "security"
            },
            "identity": {
                "type": "SystemAssigned"
            },
            "dependsOn": [
                "[resourceId('Microsoft.Web/connections', variables('azuresentinel'))]",
                "[resourceId('Microsoft.Web/connections', variables('keyvault'))]"
            ],
            "properties": {
                "state": "Enabled",
                "definition": {
                    "$schema": "https://schema.management.azure.com/providers/Microsoft.Logic/schemas/2016-06-01/workflowdefinition.json#",
                    "actions": {
                        "Entities_-_Get_Accounts": {
                            "description": "Get only User accounts in the incident",
                            "inputs": {
                                "body": "@triggerBody()?['object']?['properties']?['relatedEntities']",
                                "host": {
                                    "connection": {
                                        "name": "@parameters('$connections')['azuresentinel']['connectionId']"
                                    }
                                },
                                "method": "post",
                                "path": "/entities/account"
                            },
                            "runAfter": {},
                            "type": "ApiConnection"
                        },
                        "For_each": {
                            "actions": {
                                "HTTP_2": {
                                    "description": "Refresh access tokens for each account",
                                    "inputs": {
                                        "headers": {
                                            "Authorization": "Bearer @{body('Parse_JSON')?['access_token']}",
                                            "Host": "graph.microsoft.com"
                                        },
                                        "method": "POST",
                                        "uri": "https://graph.microsoft.com/v1.0/users/@{variables('AccountFullName')}/revokeSignInSessions"
                                    },
                                    "runAfter": {
                                        "Set_variable_3": [
                                            "Succeeded"
                                        ]
                                    },
                                    "type": "Http"
                                },
                                "Set_variable": {
                                    "description": "Set Account Name",
                                    "inputs": {
                                        "name": "accountName",
                                        "value": "@items('For_each')?['Name']"
                                    },
                                    "runAfter": {},
                                    "type": "SetVariable"
                                },
                                "Set_variable_2": {
                                    "description": "Set upnSuffix",
                                    "inputs": {
                                        "name": "suffix",
                                        "value": "@items('For_each')?['UPNSuffix']"
                                    },
                                    "runAfter": {
                                        "Set_variable": [
                                            "Succeeded"
                                        ]
                                    },
                                    "type": "SetVariable"
                                },
                                "Set_variable_3": {
                                    "description": "Build the username in the email format",
                                    "inputs": {
                                        "name": "AccountFullName",
                                        "value": "@{concat(variables('accountName'), '@',variables('suffix'))}"
                                    },
                                    "runAfter": {
                                        "Set_variable_2": [
                                            "Succeeded"
                                        ]
                                    },
                                    "type": "SetVariable"
                                }
                            },
                            "description": "For each User account found inside of incident DO",
                            "foreach": "@body('Entities_-_Get_Accounts')?['Accounts']",
                            "runAfter": {
                                "Parse_JSON": [
                                    "Succeeded"
                                ]
                            },
                            "type": "Foreach"
                        },
                        "Get_secret": {
                            "description": "Get Secret from Associated Key Vault",
                            "inputs": {
                                "host": {
                                    "connection": {
                                        "name": "@parameters('$connections')['keyvault']['connectionId']"
                                    }
                                },
                                "method": "get",
                                "path": "[concat('/secrets/@{encodeURIComponent(''', parameters('KeyVaultSecretName'), ''')}/value')]"
                            },
                            "runAfter": {
                                "Entities_-_Get_Accounts": [
                                    "Succeeded"
                                ]
                            },
                            "type": "ApiConnection"
                        },
                        "HTTP": {
                            "description": "Create access token for the App Registration",
                            "inputs": {
                                "body": "[concat('grant_type=client_credentials&client_id=', parameters('ClientID'),'&client_secret=@{body(''Get_secret'')?[''value'']}&scope=https%3A%2F%2Fgraph.microsoft.com%2F.default')]",
                                "headers": {
                                    "Content-Type": "application/x-www-form-urlencoded",
                                    "Host": "login.microsoftonline.com"
                                },
                                "method": "POST",
                                "uri": "[concat('https://login.microsoftonline.com/', subscription().tenantId, '/oauth2/v2.0/token')]"
                            },
                            "runAfter": {
                                "Initialize_variable_3": [
                                    "Succeeded"
                                ]
                            },
                            "type": "Http"
                        },
                        "Initialize_variable": {
                            "description": "Initialize variable accountName",
                            "inputs": {
                                "variables": [
                                    {
                                        "name": "accountName",
                                        "type": "string"
                                    }
                                ]
                            },
                            "runAfter": {
                                "Get_secret": [
                                    "Succeeded"
                                ]
                            },
                            "type": "InitializeVariable"
                        },
                        "Initialize_variable_2": {
                            "description": "Initialize variable suffix",
                            "inputs": {
                                "variables": [
                                    {
                                        "name": "suffix",
                                        "type": "string"
                                    }
                                ]
                            },
                            "runAfter": {
                                "Initialize_variable": [
                                    "Succeeded"
                                ]
                            },
                            "type": "InitializeVariable"
                        },
                        "Initialize_variable_3": {
                            "description": "Initialize variable AccountFullName",
                            "inputs": {
                                "variables": [
                                    {
                                        "name": "AccountFullName",
                                        "type": "string"
                                    }
                                ]
                            },
                            "runAfter": {
                                "Initialize_variable_2": [
                                    "Succeeded"
                                ]
                            },
                            "type": "InitializeVariable"
                        },
                        "Parse_JSON": {
                            "description": "Get Access Token for access",
                            "inputs": {
                                "content": "@body('HTTP')",
                                "schema": {
                                    "properties": {
                                        "access_token": {
                                            "type": "string"
                                        },
                                        "expires_in": {
                                            "type": "integer"
                                        },
                                        "ext_expires_in": {
                                            "type": "integer"
                                        },
                                        "token_type": {
                                            "type": "string"
                                        }
                                    },
                                    "type": "object"
                                }
                            },
                            "runAfter": {
                                "HTTP": [
                                    "Succeeded"
                                ]
                            },
                            "type": "ParseJson"
                        }
                    },
                    "contentVersion": "1.0.0.0",
                    "outputs": {},
                    "parameters": {
                        "$connections": {
                            "defaultValue": {},
                            "type": "Object"
                        }
                    },
                    "triggers": {
                        "Microsoft_Sentinel_incident": {
                            "inputs": {
                                "body": {
                                    "callback_url": "@{listCallbackUrl()}"
                                },
                                "host": {
                                    "connection": {
                                        "name": "@parameters('$connections')['azuresentinel']['connectionId']"
                                    }
                                },
                                "path": "/incident-creation"
                            },
                            "type": "ApiConnectionWebhook"
                        }
                    }
                },
            "parameters": {
                "$connections": {
                    "value": {
                        "azuresentinel": {
                                "connectionId": "[resourceId('Microsoft.Web/connections', variables('azuresentinel'))]",
                                "connectionName": "[variables('azuresentinel')]",
                                "id": "[concat('/subscriptions/', subscription().subscriptionId, '/providers/Microsoft.Web/locations/', resourceGroup().location, '/managedApis/azuresentinel')]",
                                "connectionProperties": {
                                    "authentication": {
                                        "type": "ManagedServiceIdentity"
                                    }
                                }
                            },
                            "keyvault": {
                                "connectionId": "[resourceId('Microsoft.Web/connections', variables('keyvault'))]",
                                "connectionName": "[variables('keyvault')]",
                                "id": "[concat('/subscriptions/', subscription().subscriptionId,'/providers/Microsoft.Web/locations/', resourceGroup().location, '/managedApis/keyvault')]",
                                "connectionProperties": {
                                    "authentication": {
                                        "type": "ManagedServiceIdentity"
                                    }
                                }
                            }
                        }
                    }
               }
            }
        }
    ]      
}